<div>
  <% # add check for if @current_user %>
  <%= link_to 'Sign Up', root_path  %> / 
  <%= link_to 'Login', root_path  %> / 
  <%= link_to 'Log Out', root_path  %> / 
  <%= link_to  'Play 2048', root_path %>
</div>