<div>
  <% # add check for if @current_user %>
  <%= link_to 'Login', '/auth/github', login_path  %> /
  <%= link_to 'Log Out', logout_path, method: :delete  %> /
  <%= link_to  'Play 2048', root_path %>
</div>
